@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.chat-container {
    border: 1px solid #ccc;
    display: flex;
    height: 100%;
}

.friends-container {
    border: 1px solid #ccc;
    min-width: fit-content;
    width: 25%;
    flex-grow: 2;
    height: 100%;
    overflow-x: scroll;
}

.friend {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;

    color: gray;
    background-color: beige;
}

.selected-friend {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
    font-weight: 600;

    color: black;
    background-color: aquamarine;
}

.unread-friend {
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
    font-weight: 600;

    color: black;
    background-color: beige;
}

.msg-container {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.msg-header {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    background-color: aquamarine;
}

.msg-header-inactive {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    background-color: beige;
}

.msg-page {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    background-color: white;
}

.msg-page-inactive {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.my-message {
    color: brown;
}

.friends-message {
    color: blue;
}

.msg-input-container {
    border: 1px solid #ccc;
    height: 90px;
    width: 100%;
    display: flex;
    background-color: gray;
}

.msg-input {
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
}
